@import 'app/assets/styles/variables'

.layout
	display: flex
	flex-direction: column
	min-height: 990px
	height: 100%
	
.page
	flex-grow: 1

.ProgressBar	
	position: fixed
	top: 0
	left: 0
	right: 0
	height: 3px
	background: linear-gradient(95.54deg, #10002B -12.24%, #7B2CBF 62.54%, #B8B8FF 102.56%) 
	transform-origin: 0%
	z-index: 30