@import '@/styles/globals'
@import '@/styles/variables'

.Root
  color: $color-main-black
  width: calc(100% - 180px)
  min-height: 890px
  height: 100%
  margin: 0 auto

  display: flex
  justify-content: center
  align-items: center
  flex-wrap: nowrap

@media screen and ( min-width: 471px ) and (max-width: 900px)
  .Root
    width: calc(100% - 80px)
    min-height: max-content
    padding: 40px 0 

@media screen and ( min-width: 320px ) and (max-width: 470px)
  .Root
    width: calc(100% - 10px)
    min-height: max-content
    padding: 40px 0
  